# Секреты и переменные окружения
# Игнорируем .env файлы
.env
*.env

# Игнорируем все CSV-файлы с данными уроков в папке scripts/
scripts/*.csv

# Игнорируем скомпилированный бинарный файл Go
# (Dockerfile собирает его с именем 'server')
server